* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

.testimonial {
    display: flex;
    gap: 30px;
    background: #D5FAFC;
}

.testimonial-first-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 64px 0 116px 165px;
    background-image: url(./images/main-quote.png);
    background-repeat: no-repeat;
}

.testimonial-second-section {
    margin: 168px 260px 80px 0;

}


.testimonial-heading-main {
    width: 445px;
    margin-left: 95px;
    margin-top: 56px;
}

.testimonial-title {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 48px;
}

.testimonial-description {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 39px 32px 32px 32px;
    gap: 32px;
    background: #FFFFFF;
}

.testimonialContent {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.testimonialFeedback {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.feedbackDescription {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    font-family: 'Inter', sans-serif;
}

.personDetail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.feedbackAuthor {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Inter', sans-serif;
}

.authorPosition {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #969BAB;
}

.hubspot {
    margin-left: 200px;
}

.airnb {
    width: 445px;


}

.book-myshow {
    width: 350px;
    margin-top: 32px;
}